.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  border-collapse: collapse;
  text-align: center;
}
tr{
  background-color: #CDDCFA;
  margin: 0;
  border-bottom: 1px solid white;
}

body{
  background-image: linear-gradient(#6695D4, #BDD9EA);
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

td{
  padding: 2vw 2vw 1vw 1vw;
}
th{
  background-color: #5CA1A2;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: white;
}

#root{
  padding: 5vw 2vw 2vw 5vw;
}